div.container {
  margin-left: 1em;
  padding-left: 0;
}

.navbar {
  padding-left: 0;
  background-color: white;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0 !important;
}

.bg-light {
  background-color: white;
}
.nav-link {
  font-size: 1em;
}

@media (min-width: 768px) {
  .nav-link {
    padding-top: 2em;
    font-size: 1.1em;
  }
  div.container {
    margin-left: 0;
  }
  .navbar-brand {
    padding-top: 0;
  }
}

a {
  color: black;
}

#footer-container {
  margin-right: auto !important;
  margin-left: auto !important;
}

.list-unstyled {
  font-weight: 200;
}

.list-unstyled > li {
  margin-top: 0.5em;
}

.navbar-collapse.in {
  display: block !important;
}

.blog-post > p {
  margin-left: 5em;
  margin-right: 5em;
}

.blog-post > h2 {
  margin-left: 2.5em;
  margin-right: 2.5em;
  font-size: 2em;
  font-weight: 300;
  margin-top: 1em;
}

.col-sm-12 {
  padding-right: 0;
}

#feature-image {
  width: 100vw;
  height: auto;
}

.row {
  margin-right: 0;
}

.foot-col {
  padding-right: 0;
}

a:hover {
  color: rgb(123, 22, 29);
}

ul#horizontal-list li {
  display: inline;
  color: rgb(123, 22, 29);
}

#horizontal-list {
  padding-left: 0;
  margin-left: 5em;
  margin-right: 5em;
}

a[rel="tag"] {
  color: rgb(123, 22, 29);
}

@media (max-width: 992px) {
  .nav-link {
    padding-top: 1.1em;
    font-size: 0.9em;
  }
  .navbar-brand {
    padding-top: 0;
    margin-right: 0;
  }
  #footer-container {
    text-align: center !important;
    padding-right: 0;
  }
  .blog-post > h2 {
    margin-left: 0.75em;
    margin-right: 2em;
    font-size: 1.5em;
    font-weight: 300;
    margin-top: 1em;
  }
  .blog-post > p {
    margin-left: 1em;
    margin-right: 1em;
  }
  #horizontal-list {
    padding-left: 0;
    margin-left: 1em;
    margin-right: 1em;
  }
}
