@font-face {
  font-family: Caslon;
  src: url(ACaslonPro-Regular.otf);
}

@font-face {
  font-family: Din;
  src: url(D-DIN.otf);
}

div.container {
  margin-left: 0em;
  padding-left: 0;
  margin-right: 0em;
  padding-right: 0;
  max-width: none;
}

.menu {
  box-shadow: 0px 3px 3px #eeeeee;
}

/*
 * Subscribe button
 */
.subscribe {
  font-size: 1em;
  display: block;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 16px;
  padding-top: 16px;
  margin-right: 0.5em;
  color: rgba(0, 0, 0, 0.5);
}

.subscribe:hover {
  color: #810e0f;
  text-decoration: none;
}

.navbar {
  padding-left: 0;
  background-color: white;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0 !important;
}

.bg-light {
  background-color: white;
}

.nav-link {
  font-size: 1em;
  text-transform: uppercase;
  padding: 1em;
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.navbar-brand {
  width: 100px;
  height: 100px;
  padding: 0;
  margin: 0;
}

.nav-logo {
  padding-right: 0.5em;
  margin: 0;
}

.navbar > .container,
.navbar > .container-fluid {
  align-items: flex-end;
}

#feature-image {
  width: 100vw;
  height: auto;
}

/* Condensed menu */
@media (max-width: 767.98px) {
  .navbar > .container,
  .navbar > .container-fluid {
    align-items: center;
  }
	
  .navbar-nav .nav-link {
	padding-left: 1em;
  }
	
  .navbar-light .navbar-toggler{
	border-color: rgba(0,0,0,0);
	padding-left: 1em;
  }
	
  .navbar-brand {
    margin: 0;
  }
	
  .nav-logo {
    padding: 0;
    flex-grow: 1;
    text-align: right;
  }
  .subscribe {
    display: none !important;
  }
	
  #footer-container {
    text-align: center !important;
  }

  .foot-col {
    padding-left: 0;
  }

  #mc_embed_signup .button {
    margin-top: 1em;
    width: 50%;
  }

  #mc_embed_signup input.email {
    width: 75%;
  }
}

a {
  color: black;
}

#footer-container {
  margin-right: auto !important;
  margin-left: auto !important;
  padding-left: 1em;
  padding-right: 1em;
}

.list-unstyled {
  font-weight: 200;
}

.list-unstyled > li {
  margin-top: 0.5em;
}

.navbar-collapse.in {
  display: block !important;
}

.blog-post > p {
  margin-left: 12em;
  margin-right: 12em;
}

.blog-post > p {
  font-family: Caslon;
}

.blog-post > h2 {
  font-family: Din;
  margin-left: 6em;
  margin-right: 6em;
  font-size: 2em;
  font-weight: 300;
  margin-top: 1em;
}

.col-sm-12 {
  padding-right: 0;
}

.row {
  margin-right: 0;
}

.foot-col {
  padding-right: 0;
}

a:hover {
  color: rgb(123, 22, 29);
}

ul#horizontal-list li {
  font-family: Din;
  display: inline;
  color: rgb(123, 22, 29);
}

#horizontal-list {
  padding-left: 0;
  margin-left: 12em;
  margin-right: 12em;
  margin-top: 2em;
}

a[rel="tag"] {
  color: rgb(123, 22, 29);
}

.author-profile-card {
  background: #eee;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}
.author-photo {
  float: left;
  text-align: left;
  padding: 5px;
}

@media (max-width: 992px) {
  .navbar-brand {
    padding-top: 0;
    margin-right: 0;
  }
  #footer-container {
    text-align: center !important;
    padding-right: 0;
  }
  .blog-post > h2 {
    font-family: Din;
    margin-left: 2em;
    margin-right: 2em;
    font-size: 1.5em;
    font-weight: 300;
    margin-top: 1em;
  }
  .blog-post > p {
    margin-left: 3em;
    margin-right: 3em;
  }
  #horizontal-list {
    padding-left: 0;
    margin-left: 3em;
    margin-right: 3em;
  }

  #feature-image {
    width: 100vw;
    height: auto;
  }

}

@media (min-width: 1200px) {
  .blog-post > p {
    margin-left: 20rem;
    margin-right: 20rem;
  }

  .blog-post > h2 {
    margin-left: 10em;
    margin-right: 10em;
  }

  #horizontal-list {
    margin-left: 20em;
    margin-right: 20em;
  }
}

#mc_embed_signup .button:hover {
  background-color: rgb(123, 22, 29);
}
