@font-face {
  font-family: Din;
  src: url(D-DIN.otf);
}

#author-name {
  margin-top: 1.5em;
  color: rgb(123, 22, 29);
  font-family: Din;
  font-size: 3em;
  font-weight: 300;
}

#author-descrip {
  margin-top: 2.5em;
  margin-right: 3.5em;
}

.img-responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.5em;
}

#featured {
  margin-top: 1em;
  color: rgb(123, 22, 29);
  font-family: Din;
  font-size: 3em;
  margin-left: 2em;
  font-weight: 300;
}

.mini {
  display: block;
}

.title {
  font-family: Din;
  font-size: 2em;
  font-weight: 300;
}

.excerpt > p {
  font-weight: 200;
}
